<OFPutVar name="babHtmlentities" value="1">

<OCPublication structure="publication_multiple" niv1>
  
    <h1><OVPublicationTitle></h1>
    
    <OCPublication publication="" structure="publication_multiple" path=".//xs:element[@name='diapo']" filter="publication_multiple=<OVPublicationId>" niv2>
        <div class="widget-bordered">
            <OFThumbnail path="<OVPublicationPhoto>" saveas="Thumb">
            <img src="<OVThumb>" />
            <p><strong><OVPublicationLegend></strong></p>
            
            
            <OCPublication publication="" structure="publication_multiple" path=".//xs:element[@name='commentaire']" filter="diapo=<OVPublicationId>" niv3>
                <div class="widget-bordered">
                    <OFThumbnail path="<OVPublicationAvatar>" maxwidth="48" maxheight="48" saveas="Avatar">
                    <p><img src="<OVAvatar>" style="vertical-align:middle" /> <OVPublicationAuthor></p>
                    <blocquote><OVPublicationTexte></blocquote>
                </div>
            </OCPublication niv3>
        </div>
    </OCPublication niv2>
  
</OCPublication niv1>